.catalog {
  margin-top: 100px;
  position: relative;
  margin-inline: clamp(30px, 5.6vw, 90px);
}

.titleCatalog {
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 60px 0;
  text-shadow:
    0 0 10px #7c7c7c,
    0 0 20px #6f6868;
}

.catalog::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 15%;
  width: 531px;
  height: 566px;
  background: radial-gradient(circle, rgb(203 56 245 / 15%), transparent 70%);
  border-radius: 56%;
  pointer-events: none;
  z-index: 0;
}

.catalog::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 6%;
  width: 420px;
  height: 450px;
  background: radial-gradient(circle, rgb(17 0 255 / 18%), transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  z-index: 0;
}
