.promoTitle {
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
}

.promoInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: var(--z-content);
}

.promoButton {
  padding: 18px 22px;
  background-color: red;
  border: none;
}
