.contentRelease {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.releaseList {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  padding: 0;
  margin: 0;
  position: relative;
  min-width: auto;
}

.releaseItem {
  width: 280px;
  cursor: pointer;
  transition: all 0.4s ease;
  transform: scale(0.7);
  opacity: 0.4;
  filter: blur(5px);
}

.releaseItem:global(.swiper-slide-active) {
  transform: scale(1);
  z-index: 3;
  opacity: 1;
  filter: blur(0);
}

.releaseItem:global(.swiper-slide-prev) {
  transform: scale(0.85);
  z-index: 2;
  opacity: 0.7;
  filter: blur(4px);
}

.releaseItem:global(.swiper-slide-next) {
  transform: scale(0.85);
  z-index: 2;
  opacity: 0.7;
  filter: blur(4px);
}


.releaseItem:first-child {
  margin-left: 0;
}

.releaseItem h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.imgPromo {
  width: clamp(280px, 23vw, 380px);
  height: clamp(400px, 25vw, 500px);
  object-fit: cover;
  border-radius: 12px;
}

.TextDate {
  border: 1px solid;
  border-radius: 12%;
  padding: 2px 4px;
}

.customPrev,
.customNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(20, 16, 37, 0.8);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.2s ease;
}

.customPrev {
  left: 10px;
}

.customNext {
  right: 10px
}

.customPrev:hover,
.customNext:hover {
  transform: translateY(-50%) scale(1.1);
  background: rgba(20, 16, 37, 1);
}

.customPrev:active,
.customNext:active {
  transform: translateY(-50%) scale(0.95);
}

.contentApi {
  display: flex;
  gap: 30px;
  color: red;
  align-items: center;
  margin-top: 5px;
  font-weight: 500;
}

